<div class="dashboard-layout">
  <aside class="sidebar">
    <h2 class="logo">Acad Panel</h2>
    <nav class="nav">
      <a routerLink="/apoderado" routerLinkActive="active">Apoderados</a>
      <a routerLink="/requisitos" routerLinkActive="active">Requisitos</a>
      <a routerLink="/antecedentes-medicos" routerLinkActive="active">Antecedentes Médicos</a>
      <a routerLink="/matriculas" routerLinkActive="active">Matrícula</a>
    </nav>
  </aside>

  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>
